/* Estilos generales */
body {
  font-family: 'Segoe UI', Tahoma, sans-serif;
  color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
}

/*Header*/
header {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.1rem;
  color:#ffd700;
  background: #2e7d32;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
  backdrop-filter: blur(10px);
  /* Responsive */
  left: 0; 
  right: 0; 
  box-sizing: border-box; /* Para que el padding no afecte el width total */
}

header h1 {
  font-size: 1.2rem; /* Reduce el tamaño del título en pantallas pequeñas */
}

#logo {
  height: 40px;
  width: auto;
  margin-top: 2%;
  margin-right: 20px;
}

/*Footer*/
footer {
  position: fixed;
  bottom: 1px;
  width: 100%;
  text-align: center;
  background: #2e7d32;
  color: #fff;
  padding: 10px;
  font-family: sans-serif;
  font-size: 0.9rem;
  z-index: 20;
  pointer-events: none;

  /* Responsive */
  left: 0; 
  right: 0; 
  box-sizing: border-box;
}

/* Contenedor principal */
main {
  position: fixed; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100vh; 
  z-index: 1;
}

/*Filtros*/
#filter-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5; /* Asegúrate de que esté sobre el a-scene (z-index 1) */
  pointer-events: none;
  mix-blend-mode: normal;
  opacity: 90%;
  transition: background-color 0.5s ease, mix-blend-mode 0.5s ease;
}

#filter-btn{
  position: fixed;
  color: #fff;
  background: #2e7d32; 
  top: 12%;
  right: 2%;
  padding: 10px 15px;
  font-size: 0.9rem;
  border-radius: 15%;
  z-index: 50;
}

.filter-cold {
  background-color: rgba(0, 50, 255, 0.2); 
  mix-blend-mode: color;
}

.filter-warm {
  background-color: rgba(255, 165, 0, 0.2);
  mix-blend-mode: multiply;
}

.filter-grayscale {
  filter: grayscale(100%);
}

/* Cámara de fondo (Ahora es el contenedor de la escena AR) */ 
#camera-feed {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 10;
  left: 0;
  z-index: 1; /* Fondo, lo más bajo */
}

/* La escena A-Frame dentro de #camera-feed */
a-scene {
  width: 100%;
  height: 100vh;
}
